{{define "body" }}
<section class="container">
  <div class="hero">
    <div class="intro">
      <p>
        I'm Vinh. This is my corner on the internet.
        I write to learn and share my experience with the world.
        My articles range from infrastructure to software design and slices of life.
        Every monday, I also send out a  newsletter call <a href="https://betterdev.link">BetterDev</a>, with links that help you become a better developer. You should subscribe.
      </p>
      <p>
        I'm a solo founder at <a href="https://hanami.run">hanami</a>, an email forwarding service that is fast and reliable. If you have domains laying around, hook them up into hanami to receive and send email.
      </p>
    </div>
  </div>

  <div class="column">
    {{ template "post-list" . }}
  </div>
</section>
{{end}}
