{{ define "body" }}
<div class="container">
  <div class="columns is-mobile">
    <div class="column is-three-fifths is-offset-one-fifth">
      <div class="post">
        <h2 class="title is-4">{{ .Meta.Title }}</h2>

        <p class="subtitle is-6">
          Write at <code>{{ .Meta.DateFormatted }}</code>
          {{ if .Meta.Tags }}
            in <a href="/{{ .Meta.Category }}">{{ .Meta.Category }}</a>
            {{ range .Meta.Tags }} <a href="/tag/{{ . }}"><span class="tag">{{ . }}</span></a> {{ end }}
          {{ end }}
        </p>

        <section class="post-body">{{ .Body }}</section>
      </div>
    </div>
  </div>
</div>
{{end}}
