{{ partial "header.html" . }}

<section class="wrapper">

<section class="wrapper-small">
  <h3 class="ta-center" id="about">About me</h3>
  <p>
    I am Vinh, a self-taugh programmer, 3x dad, bad husband because I spend most of my time writing code. I was lucky to have such wife. Recently I started to spend time holding my baby, the best thing I have ever created.
  </p>
  <p>
    I like programming and write code almost everyday, not all code is good. It's just a thing that I do everyday because I just love to do it.
   </p>
</section>


<section class="wrapper-small">
  <h3 class="ta-center" id="service">Service</h3>
  <p>
    I'm doing DevOps and Development consultant services. I have a wide range of experience design and manage infrastructure on AWS or on-premise system. I'm also pretty good at programming, you can check my github or resume. I can work and pick up new technologies pretty quick.
  </p>
  <p>
    You can <a href="mailto:kurei@axcoto.com">contact</a> me any time and we can talk about your goal and what I can do for your company.
  </p>
  <p>
    References are also available upon request.
  </p>
</section>

<section class="wrapper-small">
  <h3 class="ta-center" id="work">Work</h3>
  <p>
  I like the act of writing code, because I think it's the easiest thing I can produce as a human being. I'm building a SAAS product, writeing a book, and contributing to some open source projects, as well as write tutorials for some magazine. If you like my work, you can <a href="/#service">hire me</a>.
  </p>
  <h5 class="ta-left" id="book">SAAS</h4>
  I'm <a href="https://noty.im">noty</a> founder, a service that monitor your application and notifify you. 
  <h5 class="ta-left" id="book">Books</h4>
  <p>
  I like RethinkDB a lot and write a book about it it. Check it out <a href="leanpub.com/simplyrethinkdb">Simply RethinkDB</a>.
  </p>
  <h5 class="ta-left" id="book">Open Source</h4>
  <p>
  Everything I write is open source.
  </p>
  <ul>
    <li>
      <a href="https://mochi.axcoto.com">Mochi lang, a LISP for Go lang</a>
     </li>
     <li>
      <a href="https://github.com/notyim/hinoe">Simple exception tracker compatible with bugsnag</a>
    </li>
  </ul>
</section>

{{ partial "footer.html" . }}
